body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    text-align: right;
}

.menu-item{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    position: relative;
    top: -18px;
    margin-right: 16px;
}

.menu-item:hover{
    text-decoration: underline;
}

#dropdown-menu{
    position: relative;
    top: -10px;
    margin-right: 16px;
}

#profile-pic{
    width: 48px;
    height: 48px;
}

section{
    text-align: center;
}

#input-wrapper{
    position: relative;
    width: 582px;
    display: inline-block;
}

#search-box{
    width: 100%;
    color: #222;
    border: 1px solid #dfe1e5;
    font-size: 13px;
    padding: 14px;
    border-radius: 24px;
    outline: none;
}

#search-box:hover{
    box-shadow: 0 1px 6px 0 rgba(3, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

#input-wrapper > img{
    position: absolute;
    top: 10px;
    right: 0;
    width: 28px;
}